main {
    font-size: large;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

table {
    width: 50%;
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
}

th, td {
    padding: 10px;
}

button[type="submit"] {
    padding: 5px 0;
    width: 30%;
    font-weight: 400;
    background-color: #f2ab43; 
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

label{
    font-weight: 700;
}

.radio--label{
    font-weight: 400;
}