*{
    border: none;
    margin: 0;
    padding: 0;
}

.top-nav{
    width: 100%;
    height: 18vh;
    background-color: #fcbe33;
}

.right--content{
    width: 65%;
}

.nav--bottom{
    width: 90%;
}

.dropdown-menu{
    background-color: #030f27;
}

.carousel--container img{
    max-height: 57vh;
}

.footer {
    background-color: #030f27;
    color: #fcbe33;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 25.1vh;
    margin-top: -1.6rem;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 33.33%;
}

.carousel-inner img {
    filter: brightness(0.7);
    background-attachment: fixed;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.circle {
    height: 50%;
    width: 40%;
    border-radius: 100%;
    border: 0.5px dotted white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle i {
    font-size: 4rem;
}

.footer-text {
    margin-left: 1rem;
}

.footer-text p{
    max-width: 80%;
}

.footer-content.middle {
    background-color: #fcbe33;
    color: #030f27;
}



@media (max-width: 41rem) {
    .right--content {
        width: 100%;
    }

    .nav--above{
        flex-flow: column;
    }

}

@media (max-width: 41rem) {
    .nav--bottom{
        width: 100%;
    }
}

@media (max-width: 50rem) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-content{
        width: 100%;
    }
    .footer-content.last {
        color: #fcbe33;
        background-color: #030f27;
    }
}